<div class="main-page">
  <div class="info">
    <h3>Buna, Livia !</h3>
  </div>

  <div id="calendar-section-div">
    <section class="calendar-section">
      <mat-calendar [(selected)]="selectedDate" (selectedChange)="onDateChange($event)"></mat-calendar>
    </section>
  </div>

  <div class="events">
    <section class="events-section">
      <div class="about-event">
        {{ selectedDate | date: 'fullDate' }}
      </div>
      <div class="about-event" *ngIf="events.length === 0">Nu există evenimente</div>
      <div class="about-event" *ngIf="events.length > 0">
        <!-- Afișează evenimentele aici -->
        <div *ngFor="let event of events">
          <!-- Detalii eveniment -->#
        </div>
      </div>
    </section>
  </div>
</div>
