.main-page {
  display: grid;
  grid-template-columns: 20% 55% 25%;
  height: 100vh;
  background-color: rgb(204, 247, 226);
}

.info{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

h3{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#calendar-section-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-section {
  height: 850px;
  width: 800px;
  background-color: white;
  border: solid black 1px;
}

.events{
  display: flex;
  justify-content: start;
  align-items: start;
  padding-top: 100px;
}

.events-section{
  display: grid;
  grid-template-rows: 10% 10% 80%;
  padding-top: 20px;
  padding-left: 20px;
  height: 500px;
  width: 350px;
  background-color: white;
  border: solid black 1px;
}

.add-event-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  
}

#button{
  font-size: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.add-event-tab button:hover {
  background-color: #45a049; /* Culoare ușor diferită la hover */
}